*{
    list-style: none;
}
body{
    margin: 0;
    position: relative;
}
#form-container{
    display: flex;
    justify-content: center;
    justify-self: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    margin: auto;
    width: max-content;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 25px 25px;
}
.content{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: beige;
    padding: 20px;
}
#form-container form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 50px;
  height: max-content;
  background-color: rgb(134, 173, 207);
  border-radius: 25px 25px;
}
form input{
    width: 75%;
}
form textarea{
    max-width: 75%;
    max-height: 100px
}
.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 110px 1fr;
}
.main-header{
    display: grid;
    align-items: center;
    grid-template-columns: 300px 1fr;
    grid-column: 2/3;
    background-color: antiquewhite;
    text-align: center;
    border-bottom: solid;
    border-left: solid;
}
.main-header ul{
    display: flex;
}
li{
    margin: 10px;
}
li button{
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    border-color: rgb(255, 0, 43);
    padding: 10px;
    color: white;
    background-color: rgb(39, 27, 27);
}
li button:hover{
    color: yellow;
}
.sidebar{
    background-color: salmon;
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 2/3;
    align-items: flex-start;
    border-right:solid;
    border-top: solid;
}
.todo{
    display: flex;
    flex-direction: column;
    border-style: solid;
    background-color: aquamarine;
    width: 300px;
    margin: 10px;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.todo div{
    display: flex;
    width:100%;
    border-style: solid;
    border-width: 1px;
    
}
.todo div p{
    color: black;
    font-weight: 700;
    padding: 5px;
    text-align: justify;
    text-decoration: underline;
}
.project-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
   
}
section{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    text-align: center;
}
section input{
    width: 10px;
    height: 10px;
}
.project{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  border-bottom: dotted;
  border-width: 1px;
  border-color: pink;
}

.project-click{
    margin-left: 10px;
    background-color: white;
    border-width: 1px;
}
.project-click:hover{
    color: pink;
}
.delete{
    background-color: rgb(172, 83, 83);
    border-style: solid;
    border-color: black;
    border-radius:30px;
    font-size: 10px;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
.delete:hover{
    color: white;
}
.counter{
    padding: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border-style: solid;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    color: white;
    width:10px;
    height: 10px;
    border-width: 2px;
    border-color: black;
    color: rgb(124, 102, 102);
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-right: solid;
}
.time p{
    font-size:50px;
    color: white;
}
.logo{
 display: flex;
 width: 50px;
 align-items: center;
}
.options{
    display: flex;
    justify-content: center;
}
.options button{
    background-color: pink;
    margin: 5px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
}
.options button:hover{
    color: blue;
}